/* --- Base styles ---*/
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
 background-color: #444;
 color: #999;
}

img {
  width: 100vw;
}

body {
  font-family: 'Raleway', sans-serif; 
}

/* --- Typography and layout --- */

h1,h2 {
  color: #fff;
}

strong {
  color: #cecdcd;
}

.lead {
  padding: 1rem;
  background-color: #c6db20;
  color: #424141;
  font-size: 0.9rem;
  border-radius: .4rem;
  margin-top: -3rem;
  margin-right: 1rem;
}

h1 {
  font-size: 1.5rem;
  position: relative;
  top: -3.4rem;
  text-align: center;
  background:rgba(0,0,0,0.7);
  width: 100vw;
}

h2 {
  font-size: 1rem;
}

h2, p {
  margin-left: 1rem;
}

p {
  font-size: 0.7rem;
  margin-right: 1rem;
}

table, th, td, caption {
  border: 0.5px solid #585757;
  padding: .2rem;
}

table {
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  border-collapse: collapse;
  width: 90vw;
}

caption {
  text-transform: uppercase;
  font-size: 0.9rem;
}

th {
  background-color: #585757;
}

hr {
 border: .05rem solid #585757;
 margin-left: 1rem;
 margin-right: 1rem;
 margin-top: 0.7rem;
}

footer {
  text-align: center;
  margin-top: 0.2rem;
  font-size: 0.7rem;
}

footer a {
  color: #6af0d2;
}

@media (min-width: 768px) {
  html, body {
    margin: 4rem;
    
  }
  h1 {
    font-size: 2rem;
    top: -5rem;
    width: 77.5vw;
    margin-left: auto;
    margin-right: auto;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  p {
    font-size: 1rem;
  }
  
  footer {
    font-size: 0.9rem; 
  }
  
  img {
    width: 77.5vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
}